<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Roboreactor Profile</title>
  <!--Write the parameters input for the current data input -->
  <input type="hidden" id="datauser" value="{{userdata}}"> 
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
<link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css'><link rel="stylesheet" href="/static/dash_style.css">
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>
<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>

</head>
<body>
<!-- partial:index.partial.html -->
<section>
  <header>
    <nav class="rad-navigation">
      <div class="rad-logo-container">
        <a href="#" class="rad-logo">Roboreactor</a>
        <a href="#" class="rad-toggle-btn pull-right"><i class="fa fa-bars"></i></a>
      </div>
      <!--
      <div class="rad-top-nav-container">
        <ul class="links">
             <li>
              <div class="bubbleplot" data-num="7">
                    Select project: <select class="projectdata">
                    </select>
              </div>
             
            </ul>
      </div>
    -->
      <!--<script type="text/javascript">
             var user_account = document.getElementById('datauser').value; // Get the data from the user id 
             console.log("User account: ",user_account);
             
      </script>-->
      <!--
      <div class="rad-top-nav-container">
        <ul class="links">
          <li>
            <a class="rad-menu-item" href="#"><i class="fa fa-comment-o"></i></a>
          </li>
          <li class="rad-dropdown"><a class="rad-menu-item" href="#"><i class="fa fa-envelope-o"><span class="rad-menu-badge">3</span></i></a>
            <ul class="rad-dropmenu-item">
              <li class="rad-dropmenu-header"><a href="#">Your Notifications</a></li>
              <li class="rad-notification-item">
                <a class="rad-notification-content" href="#">

                </a>
              </li>
              <li class="rad-dropmenu-footer"><a href="#">See all notifications</a></li>
            </ul>
          </li>
          <li class="rad-dropdown"><a class="rad-menu-item" href="#"><i class="fa fa-bell-o"><span class="rad-menu-badge">49</span></i></a>
            <ul class="rad-dropmenu-item">
              <li class="rad-dropmenu-header"><a href="#">Your Alerts</a></li>
              <li class="rad-notification-item">
                <a class="rad-notification-content" href="#">

                </a>
              </li>
              <li class="rad-dropmenu-footer"><a href="#">See all alerts</a></li>
            </ul>
          </li>
        </ul>
      </div>-->
    </nav>
  </header>
</section>
<aside>
  <nav class="rad-sidebar">
    <ul>
      <li>
        <a href="/category_sensor/{{userdata}}" class="inbox">
          <i class="fa fa-dashboard"><span class="icon-bg rad-bg-success"></span></i>
          <span class="rad-sidebar-item">Data visualizer</span>
        </a>
      </li>
     
    </ul>
  </nav>
</aside>
<main>
  <section>
    <div class="rad-body-wrapper">
      <div class="container-fluid">
        <div class="row">
         <!--Environment sensor grid-->
          
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Environment Sensor</h3>
              </div>
              <div class="panel-body">
                   <div id="bubbleplots">
                     <div class="bubbleplot" data-num="0">
                      
                      <div id="EnvironmentSensor" class="rad-chart"></div>
                     </div>
                   </div>
              </div>
            </div>
          </div>
        
          <!--Motion sensor grid-->
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Motion Sensor</h3>
              </div>
              <div class="panel-body">
                   <div id="bubbleplots">
                     <div class="bubbleplot" data-num="1">
                     
                      <div id="MotionSensor" class="rad-chart"></div>
                     </div>
                   </div>
              </div>
            </div>
          </div>
          <!--Chemical sensor grid-->
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Chemical Sensor</h3>
              </div>
              <div class="panel-body">
                   <div id="bubbleplots">
                     <div class="bubbleplot" data-num="2">
                     
                      <div id="ChemicalSensor" class="rad-chart"></div>
                     </div>
                   </div> 
              </div>
            </div>
          </div>
         
           
       
      </div>
    </div>
  </section>
</main>
<!-- partial -->
<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js'></script>
<!--<script  src="/static/script.js"></script> -->
<script type="text/javascript">
$(function() {
//Extracting the account data to get the feature classification plan for each client selected 
var user_account = document.getElementById('datauser').value; // Get the data from the user id 
console.log("User account: ",user_account);
$(document).on("click", function(e) {
  var $item = $(".rad-dropmenu-item");
  if ($item.hasClass("active")) {
    $item.removeClass("active");
  }
});

$(".rad-toggle-btn").on('click', function() {
  $(".rad-sidebar").toggleClass("rad-nav-min");
  $(".rad-body-wrapper").toggleClass("rad-nav-min");
  setTimeout(function() {
    makeplot();
  }, 200);
});

$(".rad-dropdown >.rad-menu-item").on('click', function(e) {
  e.stopPropagation();
  $(".rad-dropmenu-item").removeClass("active");
  $(this).next(".rad-dropmenu-item").toggleClass("active");
});
//Setting the default sensor parameters 
var hexcolor = {};
var inverse_hex = {}; //Get the inverse hexcolor 
var sensor_Minput = {};
var sensor_categ = {}; //Get the sensor category data to get the list of the sensor 
var project_listdat = {}; //Get the project list data 
var r =0; 
console.log(sensor_Minput);
console.log("List sensor object data",Object.keys(sensor_Minput)); 
function getInverseColor(hexColor) {
  // Remove the '#' character from the hex color if present
  hexColor = hexColor.replace('#', '');

  // Convert the hex color to RGB components
  const R = parseInt(hexColor.substring(0, 2), 16);
  const g = parseInt(hexColor.substring(2, 4), 16);
  const b = parseInt(hexColor.substring(4, 6), 16);

  // Calculate the inverse of each RGB component
  const inverseR = 255 - R;
  const inverseG = 255 - g;
  const inverseB = 255 - b;

  // Convert the inverse RGB components back to hex
  const inverseHexColor = `#${inverseR.toString(16).padStart(2, '0')}${inverseG.toString(16).padStart(2, '0')}${inverseB.toString(16).padStart(2, '0')}`;

  return inverseHexColor;
}
function getRandomHexColor() {
  const letters = '0123456789ABCDEF';
  let color = '#';
  for (let i = 0; i < 6; i++) {
    color += letters[Math.floor(Math.random() * 16)];
  }
  return color;
}
//Initialize sensors
var hexcolor = {};
var sensor_Minput = {}
var c = 0; 
var r =0; 
console.log(sensor_Minput);
console.log("List sensor object data",Object.keys(sensor_Minput)); 
function getRandomHexColor() {
  const letters = '0123456789ABCDEF';
  let color = '#';
  for (let i = 0; i < 6; i++) {
    color += letters[Math.floor(Math.random() * 16)];
  }
  return color;
}

//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

//This function will select the data from the back end function to classify the authentication method for sensor input

//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
var x = [], y = [], z= [], n = [], y2 = [] , standard_deviation = [];
var i =0; 
var panelList = $('.col-lg-4 col-md-6 col-xs-12');

panelList.sortable({
  handle: '.col-lg-4 col-md-6 col-xs-12',
  update: function() {
    $('.panel', panelList).each(function(index, elem) {
      var $listItem = $(elem),
        newIndex = $listItem.index();
    });
  }
});
//This default only show up when no signal in the list found this will recall the function from here 
makeplot(); 
function makeplot() {
  d3.csv("static/sensor.csv", function(data){ 

        console.log(data)
        visualiser_data(data);
   } );
   function visualiser_data(allRows){
   
    for (var i=0; i<200; i++) {
    row = allRows[i];
    x.push( row['timestamp']);
    y.push( row['sensor_01']);
    z.push( row['sensor_00']);
    y2.push(row['sensor_02']);
    n.push( row['sensor_03'])
    console.log("Time_stamps_array:",x); 
    console.log("Sensor_01:",y); 
    console.log("Sensor_00:",z); 
    console.log("Sensor_02:",y2); 
    console.log("Sensor_03:",n);
    if(i == 200){
      default_graph_nosignal_input(x,y,z,y2,n);
    } 
  }
    
   }
   
};
function default_graph_nosignal_input(x_axis,y_axis,z_axis,y2_axis,n_axis){
      //>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
      //Add default code here for the controller parameter  
      //>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
      //Environment sensor
      
      var trace1_e = {
         x: x_axis,
         y: y_axis,
         fill: 'tozeroy',
         type: 'scatter',
         name:'temperature'  
      };
      var trace2_e = {
         x: x_axis,
         y: y_axis,
         fill: 'tonexty',
         type: 'scatter',
         name:'timestamp'
      };
      var trace3_e = {
         x: x_axis,
         y: z_axis,
       
         fill: 'tozeroy',
         type: 'scatter',
         name:'PH'
      };

      var data_e = [trace2_e, trace3_e, trace1_e];
      layout = {
          hovermode:'closest',
          title:'Pump Water temp'
       };
      Plotly.newPlot('EnvironmentSensor', data_e, layout, {showSendToCloud:true}); 
      
      //>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>    
      //Motion sensor 
       var trace1_m = {
           x: x_axis, 
           y: y_axis, 
          type: 'bar',
          name:'PH'
      };  
      var trace2_m = {
         x: x_axis, 
         y: n_axis, 
         type: 'bar',
         name:'nutrition'

      };
      layout = {
          hovermode:'closest',
          title:'Nutrition'
     };
      
      var data_m = [trace1_m, trace2_m]; //Get this list from the object.keys() to input the function of the key list data 
         
       Plotly.newPlot('MotionSensor', data_m, layout, {showSendToCloud: true});
      //>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
      //Chemical sensor
      var myPlot = document.getElementById('ChemicalSensor'),
      d3 = Plotly.d3,
      N = 100,
      x = x_axis,
      y1 = y_axis,
      y2 = z_axis,
      y3 = y2_axis,
      trace1 = { x:x, y:y1, type:'scatter', mode:'lines', name:'PH' },
      trace2 = { x:x, y:y2, type:'scatter', mode:'lines', name:'timestamp' },
      trace3 = { x:x, y:y3, type:'scatter', mode:'lines', name:'Temperature' },
      data = [ trace3,trace1,trace2],
      layout = {
          hovermode:'closest',
          title:'Chemical fusion sensors'
       };

       Plotly.newPlot('ChemicalSensor', data, layout, {showSendToCloud: true});
       
      
      //>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
      //Sound sensor
     
    //>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
      
  };
  //default_graph_nosignal_input()
});


</script>


<script type="text/javascript">
      var user_account = document.getElementById('datauser').value; 
      console.log(user_account);
      //Extract the project name from the settings list to get the 
      //Using the current project data fetch input selection from the 
      function dashboardsensor(){
        window.location.href = "http://192.168.50.192:5899/category_sensor/"+user_account;
      }  
    
</script>
</body>
</html>
